.load-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8%;
}

.question-one h2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.question-one p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.question-one form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.question-one label{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: auto;
    text-align: center;
}

.timerdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit {
    display: flex;
    align-items: center;
    justify-content: center;
}